@using ClassLibrary
@using DbAccessLibrary.Models
@model List<Clothes>

<!--slider-->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <img
          src="~/Images/34d9aa618f832510ce7290b4f183484a-shop-online-slider-template.jpg"
          style="width: 100%"
        />
      </div>

      <div class="mySlides fade">
        <img src="~/Images/discount.webp" style="width: 100%" />
      </div>
      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br />
    <div style="text-align: center">
      <span class="dot"></span>
    </div>
    <!--carousel-->

    <div class="wrapper">
      <div class="slider">

          @foreach(var item in Model){
        <div class="slider__item filter">
          <div class="img-control">
              @{  var imgSrc =FunctionsLib.GetImageSourceFromBytes(item.PreviewImage);
               <img src="@imgSrc"  alt="" />
                }
          </div>
          <div class="desc">
            <div class="product-name prefix slider-text">@item.Name</div>
            <div class="price-and-order">
              <a onclick="location.href='@Url.Action("ClothesDetails", "Clothes", new {id = @item.Id})'" class="slider-text"><button class="order-btn">
                Детальніше
              </button></a>
              <div class="price slider-text">@item.Price грн.</div>
            </div>
          </div>
        </div>
        }


      </div>
    </div>