@using ClassLibrary
@using DbAccessLibrary.Models
@model List<Clothes>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clothes_Store</title>
  @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/categories.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

</head>
<body>
     <div class="content">
     <nav class="tabs">
        
         <div class="dropdown">
            <div class="select">
                <span>Літній одяг</span>
                <i class="fa fa-chevron-left"></i>
            </div>
           
            <ul class="dropdown-menu">
                 <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Summer"  asp-route-type="@TypesOfClothes.Tshirt">  <li class="subitem">
                  Футболки</li></a> 

                  <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Summer"  asp-route-type="@TypesOfClothes.Shorts">  <li class="subitem">
                  Шорти</li></a>
                   
                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Summer"  asp-route-type="@TypesOfClothes.Pants">  <li class="subitem">
                  Штани</li></a>

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Summer"  asp-route-type="@TypesOfClothes.Shoes">  <li class="subitem">
                  Кросівки</li></a>
            </ul>
        </div>


         <div class="dropdown">
            <div class="select">
                <span>Зимній одяг</span>
                <i class="fa fa-chevron-left"></i>
            </div>
          
            <ul class="dropdown-menu">
                     <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Winter"  asp-route-type="@TypesOfClothes.Jacket">  <li class="subitem">
                  Куртки</li></a> 
                   
                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Winter"  asp-route-type="@TypesOfClothes.Pants">  <li class="subitem">
                  Штани</li></a>

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Winter"  asp-route-type="@TypesOfClothes.Gloves">  <li class="subitem">
                  Рукавиці</li></a>

                    <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Winter"  asp-route-type="@TypesOfClothes.Cap">  <li class="subitem">
                  Шапки</li></a>

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-category="@ClothingCategory.Winter"  asp-route-type="@TypesOfClothes.Shoes">  <li class="subitem">
                  Черевики</li></a>
                  
            </ul>
        </div>

         <div class="dropdown">
            <div class="select">
                <span>Чоловічий одяг</span>
                <i class="fa fa-chevron-left"></i>
            </div>
          
            <ul class="dropdown-menu">
                  <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Jacket"  asp-route-gender="@Gender.Male">  <li class="subitem">
                  Куртки</li></a> 

                  <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Sweater"  asp-route-gender="@Gender.Male">  <li class="subitem">
                  Світери</li></a> 

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Tshirt"  asp-route-gender="@Gender.Male">  <li class="subitem">
                  Футболки</li></a> 

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Pants"  asp-route-gender="@Gender.Male">  <li class="subitem">
                  Штани</li></a> 

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Shoes"  asp-route-gender="@Gender.Male">  <li class="subitem">
                  Взуття</li></a> 

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Suit"  asp-route-gender="@Gender.Male">  <li class="subitem">
                  Костюми</li></a> 
            </ul>
        </div>

          <div class="dropdown">
            <div class="select">
                <span>Жіночий одяг</span>
                <i class="fa fa-chevron-left"></i>
            </div>
          
            <ul class="dropdown-menu">
                  <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Jacket"  asp-route-gender="@Gender.Female">  <li class="subitem">
                  Куртки/Накидки</li></a> 

                  <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Sweater"  asp-route-gender="@Gender.Female">  <li class="subitem">
                  Світери</li></a> 

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Tshirt"  asp-route-gender="@Gender.Female">  <li class="subitem">
                  Майки</li></a> 

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Pants"  asp-route-gender="@Gender.Female">  <li class="subitem">
                  Штани</li></a> 

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Shoes"  asp-route-gender="@Gender.Female">  <li class="subitem">
                  Взуття</li></a> 

                   <a asp-controller="Clothes" asp-action="List"
                  asp-route-type="@TypesOfClothes.Skirt"  asp-route-gender="@Gender.Female">  <li class="subitem">
                  Спідниці</li></a> 
            </ul>
        </div>
    </nav>


    <div class="container">


        <div class="wrapper">
                @{
                    if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <div class="product-item">
                                <div class="product-img">
                                    @{
                                        var imgSrc = FunctionsLib.GetImageSourceFromBytes(@item.PreviewImage);
                                        <img src="@imgSrc"  alt="" />
                                    }
                                </div>
                                <div class="product-description">
                                    <div class="product-name prefix slider-text">
                                        @item.Name
                                    </div>
                                    <div class="price-and-order">
                                        <a onclick="location.href='@Url.Action("Details", "Clothes", 
                            new {id = @item.Id})'" class="slider-text">
                                            <button class="order-btn">Детальніше</button> </a>
                                        <div class="price slider-text">@item.Price</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h1>Одяг не знайдено</h1>
                    }
                }
        </div>
    </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/categories.js"></script>
</body>