@using ClassLibrary
@using DbAccessLibrary.Models
 @model List<Cart>

<section class="main_content">
        <nav class="navigation_account">
            <div id = "nav_title" class="nav_title">Мій акаунт</div>
            <div class="nav_items">
                <ul>
                    <a asp-controller="MyAccount" asp-action="Cart" ><li>Кошик</li></a>
                    <a asp-controller="MyAccount" asp-action="Orders" ><li>Мої замовлення</li></a>
                    <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" ><li>Дані облікового запису</li></a>
                    <a asp-controller="MyAccount" asp-action="Cart" ><li>Мої оголошення</li></a>
                </ul>
            </div>
        </nav>


        <div class="mine_block">
            <div class="location"><p><strong>Мій акаунт</strong></p><p>> Кошик</p></div>
            <h2>Кошик</h2> 

             @{ int deliveryPrice = 100;
            int allClothesPrice = 0;
            int totalPrice = 0;
            }
            @if (Model.Count == 0)
            {
                <div class="empty_block">
                    <p>Кошик пустий</p>
                    <button class="form_btn"><strong><a asp-controller="Home" asp-action="Index" >НА ГОЛОВНУ</a></strong></button>
                </div>
            } else {
              
          
                 <div class="cart_wrapper">
                @foreach(var item in Model)
                    {
                           allClothesPrice += item.Clothes.Price;
                  <div class="goods_block"><!-- товар -->
                        <div class="goods">
                             @{  var imgSrc =FunctionsLib.GetImageSourceFromBytes(item.Clothes.PreviewImage);
                                   <img src="@imgSrc"  alt="goods" />   }
                            <div class = "about_goods">
                                <h2>@item.Clothes.Name</h2>
                                <p>Колір: @item.Clothes.Color</p>
                                <p>Розмір: @item.Size</p>
                                <div class="quantity_goods">  
                                    <button id="minus" data-action="minus">-</button>  
                                    <p id="amount" data-counter>1</p>         
                                    <button id="plus" data-action="plus">+</button>  
                                </div>
                            </div>
                            <div class="trash_price">
                                <button data-action = "to_trash"></button>
                                <p><span id = "price" class="pricee">@item.Clothes.Price </span>грн</p>
                            </div>
                        </div>         
                    </div> 
                    }
          </div>   
            }
              
            </div>   
            


             <div class="final_price">
            <div><p>Ціна товарів</p>
                <p class="price_right"><span class="total_price">@allClothesPrice </span>грн</p>
            </div>
            <div>
                <p>Ціна доставки</p>
                <p class="price_right"><span class="dev_price">@deliveryPrice </span><p class="currency">грн</p></p>
            </div>
            <hr>
            <div>
                <p>Загальна сума</p>
                <p class="price_right"><span class="all_price" span>@totalPrice </span>грн</p>
            </div>   
            <button>Оформити</button>   
            <div class="block_promcode">
                <p class="prom_p">У МЕНЕ Є ПРОМКОД</p>
                <div>
                    <form>
                        <input class = "form_prom" type="text" name="" id="" placeholder="Введіть код">
                        <input class = "form_btn" type="button" name="" id="" value="ЗАСТОСУВАТИ">
                    </form>
                </div>  
            </div>  
            </div>  
    </section>